################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Entrevistas/CopilotIndices/17.14.734.62261
/.vs/Entrevistas/DesignTimeBuild/.dtbcache.v2
/.vs/Entrevistas/FileContentIndex/f4c03ddc-25fa-4617-8fc4-76068c2e4a5c.vsidx
/.vs/Entrevistas/v17/.suo
/.vs/Entrevistas/v17/DocumentLayout.backup.json
/.vs/Entrevistas/v17/DocumentLayout.json
/Entrevistas.Application/bin/Debug/net8.0/Entrevistas.Application.dll
/Entrevistas.Application/bin/Debug/net8.0/Entrevistas.Application.pdb
/Entrevistas.Application/bin/Debug/net8.0/Entrevistas.Domain.dll
/Entrevistas.Application/bin/Debug/net8.0/Entrevistas.Domain.pdb
/Entrevistas.Application/bin/Debug/net8.0/Entrevistas.Infrastructure.dll
/Entrevistas.Application/bin/Debug/net8.0/Entrevistas.Infrastructure.pdb
/Entrevistas.Application/obj/Debug/net8.0/ref/Entrevistas.Application.dll
/Entrevistas.Application/obj/Debug/net8.0/refint/Entrevistas.Application.dll
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.AssemblyInfo.cs
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.AssemblyInfoInputs.cache
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.assets.cache
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.csproj.AssemblyReference.cache
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.csproj.CoreCompileInputs.cache
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.csproj.FileListAbsolute.txt
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.dll
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.GeneratedMSBuildEditorConfig.editorconfig
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.genruntimeconfig.cache
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.pdb
/Entrevistas.Application/obj/Debug/net8.0/Entrevistas.Application.sourcelink.json
/Entrevistas.Application/obj/Entrevistas.Application.csproj.nuget.dgspec.json
/Entrevistas.Application/obj/Entrevistas.Application.csproj.nuget.g.props
/Entrevistas.Application/obj/project.assets.json
/Entrevistas.Application/obj/project.nuget.cache
/Entrevistas.Domain/bin/Debug/net8.0/Entrevistas.Domain.dll
/Entrevistas.Domain/bin/Debug/net8.0/Entrevistas.Domain.pdb
/Entrevistas.Domain/obj/Debug/net8.0/ref/Entrevistas.Domain.dll
/Entrevistas.Domain/obj/Debug/net8.0/refint/Entrevistas.Domain.dll
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.AssemblyInfo.cs
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.AssemblyInfoInputs.cache
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.assets.cache
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.csproj.AssemblyReference.cache
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.csproj.CoreCompileInputs.cache
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.csproj.FileListAbsolute.txt
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.dll
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.genruntimeconfig.cache
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.pdb
/Entrevistas.Domain/obj/Debug/net8.0/Entrevistas.Domain.sourcelink.json
/Entrevistas.Domain/obj/Entrevistas.Domain.csproj.nuget.dgspec.json
/Entrevistas.Domain/obj/Entrevistas.Domain.csproj.nuget.g.props
/Entrevistas.Domain/obj/project.assets.json
/Entrevistas.Domain/obj/project.nuget.cache
/Entrevistas.Infrastructure/obj/Debug/net8.0/ref/Entrevistas.Infrastructure.dll
/Entrevistas.Infrastructure/obj/Debug/net8.0/refint/Entrevistas.Infrastructure.dll
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.AssemblyInfo.cs
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.AssemblyInfoInputs.cache
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.assets.cache
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.csproj.AssemblyReference.cache
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.csproj.CoreCompileInputs.cache
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.csproj.FileListAbsolute.txt
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.dll
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.genruntimeconfig.cache
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.pdb
/Entrevistas.Infrastructure/obj/Debug/net8.0/Entrevistas.Infrastructure.sourcelink.json
/Entrevistas.Infrastructure/obj/Entrevistas.Infrastructure.csproj.nuget.dgspec.json
/Entrevistas.Infrastructure/obj/Entrevistas.Infrastructure.csproj.nuget.g.props
/Entrevistas.Infrastructure/obj/project.assets.json
/Entrevistas.Infrastructure/obj/project.nuget.cache
/Entrevistas.WebApi/bin/Debug/net8.0/appsettings.json
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.Application.dll
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.Application.pdb
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.Domain.dll
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.Domain.pdb
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.Infrastructure.dll
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.Infrastructure.pdb
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.WebApi.dll
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.WebApi.exe
/Entrevistas.WebApi/bin/Debug/net8.0/Entrevistas.WebApi.pdb
/Entrevistas.Infrastructure/bin/Debug/net8.0/Entrevistas.Domain.dll
/Entrevistas.Infrastructure/bin/Debug/net8.0/Entrevistas.Domain.pdb
/Entrevistas.Infrastructure/bin/Debug/net8.0/Entrevistas.Infrastructure.dll
/Entrevistas.Infrastructure/bin/Debug/net8.0/Entrevistas.Infrastructure.pdb
/Entrevistas.WebApi/obj/Debug/net8.0/EndpointInfo/Entrevistas.WebApi.json
/Entrevistas.WebApi/obj/Debug/net8.0/ref/Entrevistas.WebApi.dll
/Entrevistas.WebApi/obj/Debug/net8.0/refint/Entrevistas.WebApi.dll
/Entrevistas.WebApi/obj/Debug/net8.0/apphost.exe
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.AssemblyInfo.cs
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.AssemblyInfoInputs.cache
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.assets.cache
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.csproj.AssemblyReference.cache
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.csproj.CoreCompileInputs.cache
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.csproj.FileListAbsolute.txt
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.dll
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.GeneratedMSBuildEditorConfig.editorconfig
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.genruntimeconfig.cache
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.MvcApplicationPartsAssemblyInfo.cs
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.pdb
/Entrevistas.WebApi/obj/Debug/net8.0/Entrevistas.WebApi.sourcelink.json
/Entrevistas.WebApi/obj/Debug/net8.0/rbcswa.dswa.cache.json
/Entrevistas.WebApi/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Entrevistas.WebApi/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Entrevistas.WebApi/obj/Debug/net8.0/rpswa.dswa.cache.json
/Entrevistas.WebApi/obj/Entrevistas.WebApi.csproj.nuget.dgspec.json
/Entrevistas.WebApi/obj/Entrevistas.WebApi.csproj.nuget.g.props
/Entrevistas.WebApi/obj/project.assets.json
/Entrevistas.WebApi/obj/project.nuget.cache
/.vs/ProjectEvaluation/entrevistas.metadata.v9.bin
/.vs/ProjectEvaluation/entrevistas.projects.v9.bin
/.vs/ProjectEvaluation/entrevistas.strings.v9.bin
/.vs/Entrevistas/FileContentIndex
/.vs/Entrevistas/v17/.futdcache.v2
/Entrevistas.Application/bin/Debug/net8.0
/Entrevistas.Application/obj/Debug/net8.0
/Entrevistas.Domain/bin/Debug/net8.0
/Entrevistas.Infrastructure/bin/Debug/net8.0
/Entrevistas.WebApi/bin/Debug/net8.0
/Entrevistas.WebApi/obj/Debug/net8.0
/Entrevistas.Infrastructure/obj/Debug/net8.0
/.vs/Entrevistas/CopilotIndices/17.14.995.13737/CodeChunks.db
/.vs/Entrevistas/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/Entrevistas.WebApi/appsettings.json
